li {
	list-style: none;
}

.forms-widget {
	margin: 0 auto;
	margin-top: 50px; // remove
	width: 300px;
	ul.tabs {
		padding-left: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		li {	
			height: 30px;	
			display: flex;
			justify-content: center;
			align-items: center;	
			background-color: lightgray;
			margin: 0 10px;
			text-align: center;
			padding: 10px 25px;
			border-bottom: 1px solid white;
			cursor: pointer;
			user-select: none;
			a {
				text-decoration: none;
				color: black;
			}
			&.selected {
				background-color: lightblue;
				margin-bottom: 0;
				border-color: lightblue;
				pointer-events: none;
			}
		}
	}
	ul.forms {
		padding-left: 0;
		margin: 0;
		li.single-form  {
			padding: 25px;
			height: 500px;
			background: lightblue;
			display: none;
			input {
				float: left;
				clear: both;
				margin: 5px 0;
				width: 90%;
				height: 25px;
			}

			&.selected {
				display: block;
			}
		}
	}
}